<%- include("../partials/adminheader") %>
<!-- Include Font Awesome CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-jVxN/nU+YoimyUaa2uOS2rsZfe0us3cYOB9dBQy1hL7Y6eqTp9WO9Zk69M3MzE9LhxEjI/AIUIW/+HGpEtuMww==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    #best-product{
        margin-left: -60px;
    }
</style>
<!-- Use the Indian Rupee icon -->
<i class="text-primary fas fa-rupee-sign"></i>

        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Dashboard </h2>
                    <p>Whole data about your business here</p>
                </div>
                <div>
                   
                </div>
            </div>
            <div class="row">

                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Revenue</h6>
                                <% if(orders && products && categories && users){ %>
                                    <% var sum = 0; %>
                                    <% for(i=0 ; i< orders.length ; i++){ %>
                                        
                                        <% sum += orders[i].totalprice %>
                                        
                                        <% } %>
                                        
                                    
                                    <span> &#8377; <%= sum %></span>
                                <span class="text-sm">
                                    Shipping fees are not included
                                </span>
                            </div>
                        </article>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Orders</h6> <span><%= orders.length %></span>
                                <span class="text-sm">
                                    Excluding orders in transit
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
              
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Products</h6> 
                               
                                <span><%= products.length %></span>
                                <span class="text-sm">
                                    In <%= categories.length %> Categories
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
               
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Users </h6> <span><%= users.length %></span>
                                <span class="text-sm">
                                    Based on users registered.
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <% } %>
            </div>
            <div class="row">
                <div class="col-xl-8 col-lg-12">
                    <div class="card mb-4">
                        <article class="card-body">
                            <h5 class="card-title">Sale statistics</h5>
                            <canvas id="mychart" height="135px"></canvas>
                        </article>
                    </div>
                    
                </div>
                <div class="col-xl-4 col-lg-12">
                    <div class="card mb-4">
                        <article class="card-body">
                            <h5 class="card-title">Revenue Base on Brands</h5>
                            <canvas id="myChart2" height="207"></canvas>
                        </article>
                    </div>
                 
                </div>
            </div>



            <section id="best-product" class="content-main col-lg-12">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Best Selling Products</h2>
                      
                    </div>
                    
                </div>
                <div class="card mb-4">
                    <header class="card-header">
                        
                        <div class="row align-items-center">
                            <div class="col col-check flex-grow-0">
                                
                            </div>
                            <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
                                <a class="itemside" href="#">
                                    <div class="left">
                                      
                                    </div>
                                    <div class="info">
                                        <h6 class="mb-0">Product Name</h6>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-2 col-sm-2 col-4 col-price"> <span>Total Sale</span> </div>
                            
                            <div class="col-lg-1 col-sm-2 col-4 col-date">
                                <span>Quantity </span>
                            </div>
                            
                        </div>
                            
                          
                          
                        </div>
                    </header> <!-- card-header end// -->
                    <div class="card-body">
                        <% if(productNames && productValues && productNumbers && topProductsImages){ %>
                            <% for(i=0 ; i< productNames.length;i++){ %>
                       

                            <article class="itemlist">
                                <div class="row align-items-center">
                                    <div class="col col-check flex-grow-0">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
                                        <a class="itemside" href="#">
                                            <div class="left">
                                                <img src="/uploads/products/<%= topProductsImages[i] %>" class="img-sm img-thumbnail" alt="Item">
                                            </div>
                                            <div class="info">
                                                <h6 class="mb-0"><%= productNames[i] %></h6>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-4 col-price"> <span><%= productValues[i]  %></span> </div>
                                    
                                    <div class="col-lg-1 col-sm-2 col-4 col-date">
                                        <span><%= productNumbers[i]  %></span>
                                    </div>
                                    
                                </div> <!-- row .// -->
                            </article> 
                            <% } %>
                            <% } %>
                      


                        
                       <!-- itemlist  .// -->
                    </div> <!-- card-body end// -->
                </div> <!-- card end// -->
             
            </section>



            
            <section id="best-product" class="content-main col-lg-12">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Best Selling brands</h2>
                      
                    </div>
                    
                </div>
                <div class="card mb-4">
                    <header class="card-header">
                        <div class="row align-items-center">
                            <div class="col col-check flex-grow-0">
                                
                            </div>
                            <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
                                <a class="itemside" href="#">
                                    <!-- <div class="left">
                                        <img src="assets/imgs/items/2.jpg" class="img-sm img-thumbnail" alt="Item">
                                    </div> -->
                                    <div class="info">
                                        <h6 class="mb-0">Brand Name</h6>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-2 col-sm-2 col-4 col-price"> <span>Total Sale</span> </div>
                        
                            
                        </div>
                       
                    </header> <!-- card-header end// -->
                    <div class="card-body">
                        <% if(brandNames && brandValues && brandNumbers){ %>
                            <% for(i=0 ; i< brandNames.length;i++){ %>
                       

                            <article class="itemlist">
                                <div class="row align-items-center">
                                    <div class="col col-check flex-grow-0">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
                                        <a class="itemside" href="#">
                                            <!-- <div class="left">
                                                <img src="assets/imgs/items/2.jpg" class="img-sm img-thumbnail" alt="Item">
                                            </div> -->
                                            <div class="info">
                                                <h6 class="mb-0"><%= brandNames[i] %></h6>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-4 col-price"> <span><%= brandValues[i]  %></span> </div>
                                
                                    
                                </div> <!-- row .// -->
                            </article> 
                            <% } %>
                            <% } %>
                      


                        
                       <!-- itemlist  .// -->
                    </div> <!-- card-body end// -->
                </div> <!-- card end// -->
             
            </section>
            


            
           
        </section>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <script>
   window.onload = function(){
    $.ajax({
        url:"/admin/chart",
        method:"POST",
        success:function(response){
            console.log("response : ",response.product);
         
               
   const xValues = Object.keys(response.order);

new Chart("mychart", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
        label: 'Orders',
        tension: 0.3,
        fill: true,
        backgroundColor: 'rgba(44, 120, 220, 0.2)',
        borderColor: 'rgba(44, 120, 220)',
        data: Object.values(response.order)
    },{
        label: 'Products',
        tension: 0.3,
        fill: true,
        backgroundColor: 'rgba(4, 209, 130, 0.2)',
        borderColor: 'rgb(4, 209, 130)',
        data: [0,0,0,0,0,response.product,0]
    },{
        label: 'Users',
        tension: 0.3,
        fill: true,
        backgroundColor: 'rgba(380, 200, 230, 0.2)',
        borderColor: 'rgb(380, 200, 230)',
        data: [0,0,0,0,0,0,response.user]
    }]
  },
  options: {
    plugins: {
      legend: {
        labels: {
          usePointStyle: true,
        },
      }
    }
  }
});

   }



        });
    }


  

        </script>
     
      
       

<%- include("../partials/adminfooter") %>


