<%- include("../partials/adminheader") %>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Categories </h2>
                    <p>Add, edit or delete a category</p>
                </div>
                <div>
                    <input type="text" placeholder="Search Categories" class="form-control bg-white">
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <form action="/admin/category" method="post">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Name</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="category_name" name="categoryName" />
                                </div>
                                
                               
                                <div class="mb-4">
                                    <label class="form-label">Description</label>
                                    <textarea placeholder="Type here" class="form-control" name="description"></textarea>
                                </div>
                                <div class="d-grid">
                                    
                                        <button class="btn btn-primary">Create category</button>
                                    
                                </div>
                            </form>
                        </div>
                        <div class="col-md-9">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" />
                                                </div>
                                            </th>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>brand</th>
                                            <th>description</th>
                                            <th>list/unlist</th>
                                            <th class="text-end">edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% categories.forEach(function(category, index) { %>
                                            <tr>
                                                <td class="text-center">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="<%= category.id %>" />
                                                    </div>
                                                </td>
                                                <td><%= index + 1 %></td>
                                                <td><%= category.name %></td>
                                                
                                                <td><%= category.description %></td>
                                                <td>
                                                    <% if (category.isList === true) { %>
                                                        <a href="/admin/category/unlist/<%= category.id %>">
                                                            <button class="btn btn-primary">Unlist</button>
                                                        </a>
                                                    <% } else { %>
                                                        <a href="/admin/category/list/<%= category.id %>">
                                                            <button class="btn btn-primary">List</button>
                                                        </a>
                                                    <% } %>
                                                </td>
                                                <td class="text-end">
                                                   
                                                    <a href="/admin/category/edit/<%= category.id %>" class="btn btn-info">Edit</a>
                                                </td>
                                            </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                                
                            </div>
                        </div> <!-- .col// -->
                    </div> <!-- .row // -->
                </div> <!-- card body .// -->
            </div> <!-- card .// -->
        </section> <!-- content-main end// -->

        <%- include("../partials/adminfooter") %>
     