
<%- include("../partials/adminheader") %>
       
       <section class="content-main">
            <div class="row">
                <div class="col-10">
                    <div class="content-header">
                        <h2 class="content-title">Edit Product Details</h2>
                        
                    </div>
                </div>
            </div>
            <form action="/admin/productlist/edit/<%= editProduct.id %>" method="post" enctype="multipart/form-data">

            <div class="row">
                <div class="col-lg-10">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>1. General info</h6>
                                </div>
                                <% if(locals.message) { %>
                                    <div class="alert alert-danger"> <%= locals.message %></div>
                                      <% } %>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Product title</label>
                                        <input type="text" placeholder="Type here" class="form-control" id="name" name="name" onkeyup="validateName()" value="<%= editProduct.name %>">
                                        <div id="name_error" class="alert alert-danger" style="display: none;"></div>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Specification</label>
                                        <textarea placeholder="Type here" class="form-control" rows="4" id="specification" name="specification" onkeyup="validateSpec()"><%= editProduct.specification %></textarea>
                                        <div id="spec_error" class="alert alert-danger" style="display: none;"></div>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Brand name</label>
                                        <input type="text" placeholder="Type here" class="form-control" name="brand" id="brand" onkeyup="validateBrand()"  value="<%= editProduct.brand %>">
                                        <div id="brand_error" class="alert alert-danger" style="display: none;"></div>
                                        
                                    </div>
                                </div> 
                            </div> 
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>2. Pricing</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label"> Price</label>
                                        <input type="text" placeholder="$00.0" class="form-control" name="price" id="price" onkeyup="validatePrice()"  value="<%= editProduct.price %>">
                                        <div id="price_error" class="alert alert-danger" style="display: none;"></div>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Offered Price</label>
                                        <input type="text" placeholder="$00.0" class="form-control" name="offerprice" id="offerprice" onkeyup="validateOfferprice()"  value="<%= editProduct.offerprice %>">
                                        <div id="offerprice_error" class="alert alert-danger" style="display: none;"></div>
                                    </div>
                                </div>
                               
                            </div>



                            <div class="row">
                                <div class="col-md-3">
                                    <h6>3. Quantity</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label"> Quantity</label>
                                        <input type="text" placeholder="$00.0" class="form-control" name="quantity" id="quantity" onkeyup="validateQuantity()" value="<%= editProduct.quantity %>">
                                        <div id="quantity_error" class="alert alert-danger" style="display: none;"></div>
                                    </div>
                                   
                                </div>
                               
                            </div>

                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>4. Category</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label"> Category</label>
                                        <input type="text" placeholder="$00.0" class="form-control" name="category" id="category"  value="<%= editProduct.category %>">
                                        <div id="quantity_error" class="alert alert-danger" style="display: none;"></div>
                                    </div>
                                   
                                </div>
                                
                                 <!-- col.// -->
                            </div>
                             <!-- row.// -->
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>5. Media</h6>
                                </div>
                                <div class="col-md-9">

                                    
        
        
                                    
                                    <div class="mb-4">
                                        <label class="form-label">Images</label>
                                        <input class="form-control" type="file" name="image"  id="imageInput" onchange="validateImage()" multiple   value="<%= editProduct.image[0] %>" >
                                        <div id="image_error" class="alert alert-danger" style="display: none;">Select at least one image</div>
                                    </div>
                                
                                    
                                </div> <!-- col.// -->
                            </div> <!-- .row end// -->
                        </div>
                    </div>
                </div>
            </div>
            <form action="/admin/productlist/edit/<%= editProduct.id %>" method="post" enctype="multipart/form-data">
            <div>
              
                <button class="btn btn-md rounded " type="submit" id="button" >Edit</button>
                <div id="error-message" style="display: none; color: red;"></div>
               
                
            </div>
        </form>

        
     
            </div>
        </section> <!-- content-main end// -->
       
    
    <script>


        const nameInput = document.getElementById("name");
        const specInput = document.getElementById("specification");
        const brandInput = document.getElementById("brand");
        const priceInput = document.getElementById("price");
        const offerpriceInput = document.getElementById("offerprice");
        const quantityInput = document.getElementById("quantity");
        const publishButton = document.getElementById("button");
        
  

        const imageInput = document.getElementById("imageInput");
        const imageError = document.getElementById("image_error");

        
        
        function validateName(){
            const name = nameInput.value.trim();
            if (name === "" ) {
        name_error.style.display = "block";
        name_error.style.color = "red";
        name_error.textContent = "Enter a valid name";
    } else if(name.length > 25){
        name_error.style.display = "block";
        name_error.style.color = "red";
        name_error.textContent = "Enter a smaller name";

    } else{
        name_error.style.display = "none";
    }
        }


        function validateSpec(){
            const spec = specInput.value.trim();
            if (spec === "") {
        spec_error.style.display = "block";
        spec_error.style.color = "red";
        spec_error.textContent = "Enter a valid specification";
    } else {
        spec_error.style.display = "none";
    }
        }

        function validateBrand(){
            const brand = brandInput.value.trim();
            if (brand === "") {
        brand_error.style.display = "block";
        brand_error.style.color = "red";
        brand_error.textContent = "Enter a valid brand name";
    } else {
        brand_error.style.display = "none";
    }
        }


        function validatePrice(){
            const price = priceInput.value.trim();
            if (price === '' || !/^\d+$/.test(price)) {
        price_error.style.display = "block";
        price_error.style.color = "red";
        price_error.textContent = "Enter a valid price";
    } else {
        price_error.style.display = "none";
    }
        }

        function validateOfferprice() {
    const offerprice = offerpriceInput.value.trim();
    const price = priceInput.value.trim();

    
    if (offerprice === '' || !/^\d+$/.test(offerprice)) {
        offerprice_error.style.display = "block";
        offerprice_error.style.color = "red";
        offerprice_error.textContent = "Enter a valid offer price";
    } else if (parseInt(offerprice) >= parseInt(price)) {
        
        offerprice_error.style.display = "block";
        offerprice_error.style.color = "red";
        offerprice_error.textContent = "Offer price must be less than the original price";
    } else {
        
        offerprice_error.style.display = "none";
    }
}




        function validateQuantity(){
            const quantity = quantityInput.value.trim();
            if (quantity === '' || !/^\d+$/.test(quantity)) {
        quantity_error.style.display = "block";
        quantity_error.style.color = "red";
        quantity_error.textContent = "Enter a valid quantity";
    } else if(quantity<= 0){
        quantity_error.style.display = "block";
        quantity_error.style.color = "red";
        quantity_error.textContent = "Enter a positive quantity number";

    }else {
        quantity_error.style.display = "none";
    }
        }







function validateImage() {
    const selectedFiles = imageInput.files;

    if (selectedFiles.length === 0) {
        imageError.style.display = "block";
        imageError.style.color = "red";
        imageError.textContent = "Select at least one image";
    } else {
        imageError.style.display = "none";
    }
}












    </script>

    
<%- include("../partials/adminfooter") %>
    