
<%- include("../partials/adminheader") %>
       
       <section class="content-main">
            <div class="row">
                <div class="col-10">
                    <div class="content-header">
                        <h2 class="content-title">Edit Product Details</h2>
                        
                    </div>
                </div>
            </div>
           
            <form  id="form" action="/admin/productlist/edit/<%= editProduct.id %>" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-10">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>1. General info</h6>
                                </div>
                                <% if(locals.message) { %>
                                    <div class="alert alert-danger"> <%= locals.message %></div>
                                      <% } %>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Product title</label>
                                        <input type="text" placeholder="Type here" class="form-control" id="editname" name="name"  value="<%= editProduct.name %>">
                                        <div id="edit_name_error" class="alert alert-danger" style="display: none;"></div>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Specification</label>
                                        <textarea placeholder="Type here" class="form-control" rows="4" id="editspecification" name="specification" ><%= editProduct.specification %></textarea>
                                        <div id="edit_spec_error" class="alert alert-danger" style="display: none;"></div>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Brand name</label>
                                        <input type="text" placeholder="Type here" class="form-control" name="editbrand" id="brand"   value="<%= editProduct.brand %>">
                                        <div id="edit_brand_error" class="alert alert-danger" style="display: none;"></div>
                                        
                                    </div>
                                </div> 
                            </div> 
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>2. Pricing</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label"> Price</label>
                                        <input type="text" placeholder="$00.0" class="form-control" name="price" id="editprice"   value="<%= editProduct.price %>">
                                        <div id="edit_price_error" class="alert alert-danger" style="display: none;"></div>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Offered Price</label>
                                        <input type="text" placeholder="$00.0" class="form-control" name="offerprice" id="editofferprice"   value="<%= editProduct.offerprice %>">
                                        <div id="edit_offerprice_error" class="alert alert-danger" style="display: none;"></div>
                                    </div>
                                </div>
                               
                            </div>



                            <div class="row">
                                <div class="col-md-3">
                                    <h6>3. Quantity</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label"> Quantity</label>
                                        <input type="text" placeholder="$00.0" class="form-control" name="quantity" id="editquantity"  value="<%= editProduct.quantity %>">
                                        <div id="edit_quantity_error" class="alert alert-danger" style="display: none;"></div>
                                    </div>
                                   
                                </div>
                               
                            </div>

                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>4. Category</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label"> Category</label>
                                        <input type="text" placeholder="$00.0" class="form-control" name="category" id="editcategory"  value="<%= editProduct.category %>">
                                        <div id="edit_quantity_error" class="alert alert-danger" style="display: none;"></div>
                                    </div>
                                   
                                </div>
                                
                                 <!-- col.// -->
                            </div>
                             <!-- row.// -->
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>5. Media</h6>
                                </div>
                                <div class="col-md-9">

                                    
        
        
                                    
                                    <div class="mb-4">
                                        <div id="addedImagesContainer" class="thumbnails-container"></div>
                                        <label class="form-label">Images</label>
                                        <input class="form-control" type="file" name="image"  id="editimageInput"  multiple   value="<%= editProduct.image[0] %>" >
                                        <div id="edit_image_error" class="alert alert-danger" style="display: none;">Select at least one image</div>
                                    </div>
                                
                                    
                                </div> <!-- col.// -->
                            </div> <!-- .row end// -->
                        </div>
                    </div>
                </div>
            </div>
            
            <div>
              
                <button class="btn btn-md rounded " type="submit" id="button" >Edit</button>
                <div id="error-message" style="display: none; color: red;"></div>
               
                
            </div>
        </form>

        
     
            </div>
        </section> <!-- content-main end// -->
       
    
    <script>


        const nameInput = document.getElementById("editname");
        const specInput = document.getElementById("editspecification");
        const brandInput = document.getElementById("brand");
        const priceInput = document.getElementById("editprice");
        const offerpriceInput = document.getElementById("editofferprice");
        const quantityInput = document.getElementById("editquantity");
        const editButton = document.getElementById("button");
        const name_error = document.getElementById("edit_name_error");
        const spec_error = document.getElementById("edit_spec_error");
        const brand_error = document.getElementById("edit_brand_error");
        const price_error = document.getElementById("edit_price_error");
        const offerprice_error = document.getElementById("edit_offerprice_error");
        const quantity_error = document.getElementById("edit_quantity_error")


        
  

        const imageInput =  document.getElementById("editimageInput");
        const imageError =  document.getElementById("edit_image_error");
        const selectedImages = [];


imageInput.addEventListener("change", handleFileSelect);

function handleFileSelect(event) {
    
    const addedImagesContainer = document.getElementById("addedImagesContainer");

  
    addedImagesContainer.innerHTML = "";

    const files = event.target.files;

    for (let i = 0; i < files.length; i++) {
        const file = files[i];

    
        selectedImages.push(file);

    
        const thumbnail = document.createElement("div");
        thumbnail.classList.add("thumbnail");

     
        const img = document.createElement("img");
        img.src = URL.createObjectURL(file);
        img.alt = "thumbnail";

       
        img.style.width = "50px"; 
        img.style.height = "auto";

        
        const removeIcon = document.createElement("span");
        removeIcon.classList.add("remove-icon");
        removeIcon.innerHTML = "&times;"; 

       
        removeIcon.addEventListener("click", function () {
           
            const index = selectedImages.indexOf(file);
            if (index !== -1) {
                selectedImages.splice(index, 1);
                
            }

            
            thumbnail.remove();
            
            

        });

        
        thumbnail.appendChild(img);
        thumbnail.appendChild(removeIcon);

      
        addedImagesContainer.appendChild(thumbnail);
    }
}


        
        
        function validateEditName(){
            const name = nameInput.value.trim();
            if (name === "" ) {
        name_error.style.display = "block";
        name_error.style.color = "red";
        name_error.textContent = "Enter a valid name";
        return false;
    } else if(name.length > 25){
        name_error.style.display = "block";
        name_error.style.color = "red";
        name_error.textContent = "Enter a smaller name";
        return false;

    } else{
        name_error.style.display = "none";
        return true;
    }
        }


        function validateEditSpec(){
            const spec = specInput.value.trim();
            if (spec === "") {
        spec_error.style.display = "block";
        spec_error.style.color = "red";
        spec_error.textContent = "Enter a valid specification";
        return false;
    } else {
        spec_error.style.display = "none";
        return true;
    }
        }

        function validateEditBrand(){
            const brand = brandInput.value.trim();
            if (brand === "") {
        brand_error.style.display = "block";
        brand_error.style.color = "red";
        brand_error.textContent = "Enter a valid brand name";
        return false;
    } else {
        brand_error.style.display = "none";
        return true;
    }
        }


        function validateEditPrice(){
            const price = priceInput.value.trim();
            if (price === '' || !/^\d+$/.test(price)) {
        price_error.style.display = "block";
        price_error.style.color = "red";
        price_error.textContent = "Enter a valid price";
        return false;
    } else {
        price_error.style.display = "none";
        return true;
    }
        }

        function validateEditOfferprice() {
    const offerprice = offerpriceInput.value.trim();
    const price = priceInput.value.trim();

    
    if (offerprice === '' || !/^\d+$/.test(offerprice)) {
        offerprice_error.style.display = "block";
        offerprice_error.style.color = "red";
        offerprice_error.textContent = "Enter a valid offer price";
        return false;
    } else if (parseInt(offerprice) >= parseInt(price)) {
        
        offerprice_error.style.display = "block";
        offerprice_error.style.color = "red";
        offerprice_error.textContent = "Offer price must be less than the original price";
        return false;
    } else {
        
        offerprice_error.style.display = "none";
        return true;
    }
}




        function validateEditQuantity(){
            const quantity = quantityInput.value.trim();
            if (quantity === '' || !/^\d+$/.test(quantity)) {
        quantity_error.style.display = "block";
        quantity_error.style.color = "red";
        quantity_error.textContent = "Enter a valid quantity";
        return false;
    } else if(quantity<= 0){
        quantity_error.style.display = "block";
        quantity_error.style.color = "red";
        quantity_error.textContent = "Enter a positive quantity number";
        return false;

    }else {
        quantity_error.style.display = "none";
        return true;
    }
        }







function validateEditImage() {
    const selectedFiles = imageInput.files;

    if (selectedFiles.length === 0) {
        imageError.style.display = "block";
        imageError.style.color = "red";
        imageError.textContent = "Select at least one image";
        return false;
    } else {
        imageError.style.display = "none";
        return true;
    }
}

editButton.addEventListener("click",(event)=>{
    const isValidName = validateEditName();
    const isValidSpec = validateEditSpec();
    const isValidBrand = validateEditBrand();
    const isValidPrie =  validateEditPrice();
    const isValidOfferprice = validateEditOfferprice();
    const isValidQuantity = validateEditQuantity();
    const isValidImage = validateEditImage()

    if(!isValidName || !isValidSpec || !isValidBrand || !isValidPrie || !isValidOfferprice || !isValidQuantity || !isValidImage){
        console.log("abc");
        event.preventDefault();
    }else{
        console.log("1234");

        document.getElementById("form").submit();
    }

})












    </script>

    
<%- include("../partials/adminfooter") %>
    