<%- include("../partials/adminheader") %>
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Categories </h2>
                <p>Add, edit or delete a category</p>
            </div>
            <div>
                <input type="text" placeholder="Search Categories" class="form-control bg-white">
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                
                <div class="row">
                   
                    <div class="col-md-3">
                        <input type="radio" id="html" name="options" value="Product">
                        <label for="products">Product Offer</label><br>
                        <input type="radio" id="css" name="options" value="category">
                        <label for="category">Category Offer</label><br>
                        <br><br>

                       


                            <div id="product-div" style="display: none;">


                                <select class="form-select border" id="brand" name="brand" style="width: 150px;">
                                    <% for (let i=0; i < brands.length; i++) { %>
                                        <option id=" value="<%= brands[i] %>">
                                            <%= brands[i] %>
                                        </option>
                                        <% } %>
                                </select>
                            </div>

                            <div id="category-div" style="display: none;">


                                <select class="form-select border" id="category" name="category" style="width: 150px;">
                                    <% for (let i=0; i < categories.length; i++) { %>
                                        <option  value="<%= categories[i]._id %>">
                                            <%= categories[i].name %>
                                        </option>
                                        <% } %>
                                </select>
                            </div>

                            <div class="mb-4">
                                <label for="product_name" class="form-label">Discount Amount</label>
                                <input type="text" placeholder="Type here" class="form-control" id="discount"
                                    name="discount" />
                                    <div id="discount_error" class="alert alert-danger" style="display: none;"></div>
                            </div>
                            <div class="mb-4">
                                <label>Minimum Purchase</label>
                                <input type="text" placeholder="Type here" class="form-control" name="purchase"
                                    id="purchase" />
                                <div id="purchase_error" style="display: none;"></div>

                            </div>

                            <div class="mb-4">
                                <label class="form-label">Starting Date</label>
                                <input type="date" placeholder="Type here" class="form-control" name="start"
                                    id="start" />
                            </div>

                            <div class="mb-4">
                                <label class="form-label">End Date</label>
                                <input type="date" placeholder="Type here" class="form-control" name="end" id="end" />
                            </div>




                            <!-- Add this div to display the error message -->


                            <div class="d-grid">

                                <button id="btn" class="btn btn-primary">Create category</button>
                                <div id="errorMessage" class="text-danger">

                                </div>


                            </div>
                            <div id="message"></div>

                      
                    </div>
                
                    <div class="col-md-9">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" />
                                            </div>
                                        </th>
                                        
                                        <th>Offer Type</th>
                                        <th>Available</th>
                                        <th>Discount</th>
                                        <th>Minimum purchase</th>
                                        <th>From</th>
                                        <th>TO</th>
                                        <th class="text-end">Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <% for(i=0 ; i< offers.length ; i++){ %>
                                        <tr>
                                            <td class="text-center">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" />
                                                </div>
                                            </td>
                                            
                                            <td><%= offers[i].type %></td>
    
                                            <td><%= offers[i].brand || offers[i].category  %></td>
                                            <td><%= offers[i].discount %></td>
                                            <td><%= offers[i].purchaseamount %></td>
                                            <td><%= offers[i].start %></td>
                                            <td><%= offers[i].end %></td>

    
                                            <td class="text-end">
    
                                                <a onclick="deleteCoupon('<%= offers[i]._id %>')" class="btn btn-info">Delete</a>
                                            </td>
                                        </tr>

                                        <% } %>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>

const productRadio = document.getElementById("html");
    const categoryRadio = document.getElementById("css");

    const productDiv = document.getElementById("product-div");
    const categoryDiv = document.getElementById("category-div");
    const brand = document.getElementById("brand")
    const category = document.getElementById("category");
    const discountInput = document.getElementById("discount");
    const purchaseInput = document.getElementById("purchase");
    const startDateInput = document.getElementById('start');
    const endDateInput = document.getElementById('end');
    const discountError = document.getElementById("discount_error");
    const purchaseError = document.getElementById("purchase_error");
    const button = document.getElementById("btn");

    let dataToSend;
    let discount ;
    let purchaseAmount;
    let selectedStartDate;
    let selectedEndDate;
    let bnd;
    let ctg;

    productRadio.addEventListener("click", function () {
        productDiv.style.display = "block";
        categoryDiv.style.display = "none";
        dataToSend = this.value.trim();
    });

    categoryRadio.addEventListener("click", function () {
        productDiv.style.display = "none";
        categoryDiv.style.display = "block";
        dataToSend = this.value.trim();
    });

    startDateInput.addEventListener("change", validateStartDate);
    endDateInput.addEventListener("change", validateEndDate);

    brand.addEventListener("change",function(){
        bnd = this.value.trim()

    })

    category.addEventListener("change",function(){
        ctg = this.value.trim()

    })

    function validateStartDate() {
        const today = new Date();
         selectedStartDate = new Date(startDateInput.value);
         today.setHours(0, 0, 0, 0);

        if (selectedStartDate < today) {
            Swal.fire({
  icon: "error",
  title: "Oops...",
  text: "Please select a date from today",
 
});
            
            return true;
            
        }
    }

    function validateEndDate() {
         selectedStartDate = new Date(startDateInput.value);
         selectedEndDate = new Date(endDateInput.value);

        if (selectedEndDate <= selectedStartDate) {
            
            Swal.fire({
  icon: "error",
  title: "Oops...",
  text: "Please select a date after start date",
 
});
            return true;
            // Clear the input field
        }
    }

    function validateDiscount() {
         discount = discountInput.value.trim();
        if (/^([1-9]\d{0,4}|100000)$/.test(discount)) {
            discountError.style.display = "none";
            return false;
        } else {
            discountError.style.display = "block";
            discountError.style.color = "red";
            discountError.textContent = "Please enter a valid discount amount";
            return true;
        }
    }

    function validatePurchaseAmount() {
         purchaseAmount = purchaseInput.value.trim();
        const discount = discountInput.value.trim();

        if (/^([1-9]\d{0,4}|100000)$/.test(purchaseAmount) && Number(purchaseAmount) > Number(discount) * 2) {
            purchaseError.style.display = "none";
            return false;
        } else {
            purchaseError.style.display = "block";
            purchaseError.style.color = "red";
            purchaseError.textContent = "Please enter a valid purchase amount";
            return true;
        }
    }
    button.addEventListener("click",function(event){
        if(validatePurchaseAmount() || validateDiscount() || validateEndDate() ||validateStartDate() ){
            event.preventDefault();
        }else{
            

         



        console.log("data : ",dataToSend);
        console.log("brand : ",bnd);
        console.log("category : ",ctg);
        console.log("discount : ",discount);
        console.log("purchaseAmount : ",purchaseAmount);
        console.log("selectedStartDate : ",selectedStartDate);
      console.log("end : ",selectedEndDate);
       
        
             $.ajax({
                 url: "/admin/offers",
                 method: "POST",
                 data:{
                options:dataToSend,
                brand:bnd,
                category:ctg,
                discount:discount,
                purchase:purchaseAmount,
                start:selectedStartDate,
                end:selectedEndDate
            },
            success: function(response) {
    if (response.message === "Offer added successfully") {
        Swal.fire({
            icon: "success",
            title: response.message,
            showConfirmButton: false,
            timer: 1500
        }).then(result=>{
            window.location.href ="/admin/offers"
        })
    } else {
        Swal.fire({
            text: response.message,
            icon: response.message.includes("already added") ? "info" : "question"
        });
    }
}

             })
        }

    })


   function deleteCoupon(offerid){
    Swal.fire({
  title: "Are you sure?",
  text: "You won't be able to revert this!",
  icon: "warning",
  showCancelButton: true,
  confirmButtonColor: "#3085d6",
  cancelButtonColor: "#d33",
  confirmButtonText: "Yes, delete it!"
}).then((result) => {
  if (result.isConfirmed) {
    window.location.href = `/admin/offers/delete?id=${offerid}`;
  }
});
   }

    


    </script>




    <%- include("../partials/adminfooter") %>