<%- include("../partials/adminheader") %>

        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order List </h2>
                   
                </div>
                <div>
                    <input type="text" placeholder="Search order ID" class="form-control bg-white">
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Show 20</option>
                                <option>Show 30</option>
                                <option>Show 40</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Date</th>
                                    <th scope="col" class="text-end"> Action </th>
                                </tr>
                            </thead>
                            <% if(order && user){ %>
                                <% for(i=order.length-1;i>=0 ; i--){%>
                                    <% for(j=user.length -1;j >= 0 ; j--){%>
                            <tbody>
                              
                                <tr>
                                    <td><%= order[i].orderId %></td>
                                    <td><b><%= user[j].name %></b></td>
                                    <td><%= user[j].email %></td>
                                    <td>                                                                           <% if (order[i].deliverycharge !== undefined) { %>
                                        <%= order[i].totalprice + order[i].deliverycharge %>
                                    <% } else { %>
                                        <%= order[i].totalprice %>
                                    <% } %></td>
                                       
                                    <td>
                                        <% if (order[i].status == 'Cancelled') { %>
                                          <span class="badge rounded-pill" style="background-color: rgb(21, 21, 120);"><%= order[i].status %></span>
                                        <% } else if (order[i].status == 'Confirmed') { %>
                                          <span class="badge rounded-pill" style="background-color: rgb(8, 92, 8);"><%= order[i].status %></span>
                                        <% } else if (order[i].status == 'Shipped') { %>
                                          <span class="badge rounded-pill" style="background-color: rgb(52, 95, 91);"><%= order[i].status %></span>
                                        <% } else if (order[i].status == 'Delivered') { %>
                                          <span class="badge rounded-pill" style="background-color: rgb(255, 0, 166);"><%= order[i].status %></span>
                                        <% }else if (order[i].status == 'Returned') {%>
                                            <span class="badge rounded-pill" style="background-color: rgb(132, 60, 60);"><%= order[i].status %></span>
                                            <% } else if (order[i].status == 'payment Pending') {%>
                                                <span class="badge rounded-pill" style="background-color: rgb(99, 6, 115);"><%= order[i].status %></span>
                                                <% } %>
                                      </td>
                                      


                                    <td><%= order[i].createdon %></td>
                                    <td class="text-end">
                                      
                                        <div class="dropdown">
                                            <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="/admin/orderdetail?user=<%=user[j]._id%>&order=<%=order[i]._id%>">View detail</a>

                                                <a class="dropdown-item" href="#">Edit info</a>
                                                <a class="dropdown-item text-danger" href="/admin/deleteorder?user=<%=user[j]._id%>&order=<%=order[i]._id%>">Delete</a>
                                            </div>
                                        </div> <!-- dropdown //end -->
                                    </td>
                                </tr>
                                
                                
                                
                            </tbody>
                            <% } %>
                                <% } %>

                                <% } %>
                        </table>
                       
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <!-- Pagination -->
<div class="pagination-area mt-30 mb-50">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-start">
            <% for (let i = 1; i <= totalPages; i++) { %>
                <li class="page-item <%= currentPage == i ? 'active' : '' %>">
                    <a class="page-link" href="/admin/orderlist?page=<%= i %>"><%= i %></a>
                </li>
            <% } %>
        </ul>
    </nav>
</div>

        </section> 

        
        

        <%- include("../partials/adminfooter") %>
      