<%- include("../partials/adminheader") %>
<style>
    .btn-space {
        margin-right: 10px;
    }
    .btn-space:last-child {
        margin-right: 0;
    }
</style>

<div class="card mb-4">
    <header class="card-header">
        <h4 class="card-title">Sales Report</h4>
        <div class="row justify-content-end">
            <div class="col-md-4 col-12 mb-md-0 mb-3">
                <form action="/admin/salesreport" method="post">
                    <div class="row align-items-center">
                        <div class="col">
                            <input type="date" value="02.05.2022" class="form-control" name="date">
                        </div>
                        <div class="col">
                            <button class="btn btn-primary btn-block">Show</button>
                        </div>
                    </div>
                </form>
            </div>
        
            <div class="col-md-4 col-12 mb-md-0 md-3">
                <form action="/admin/salesreport" method="post">
                    <div class="row align-items-center">
                        <div class="col">
                            <select class="form-select" name="selectstatus">
                           
                                <option>Daily</option>
                                <option>weekly</option>
                                <option>monthly</option>
                            </select>
                        </div>
                        <div class="col">
                            <button class="btn btn-primary">Show</button>
                        </div>
                    </div>
                </form>
            </div>
            
        </div>
        
      
         
            
        
        </div>
        
    </header>
    <div class="card-body">
        <div class="table-responsive">
            <div class="table-responsive">
                <table class="table align-middle table-nowrap mb-0" id="sales-table">
                    <thead class="table-light">
                        <tr>
                            <th scope="col" class="text-center">
                                <div class="form-check align-middle">
                                    <input class="form-check-input" type="checkbox" id="transactionCheck01">
                                    <label class="form-check-label" for="transactionCheck01"></label>
                                </div>
                            </th>
                            <th class="align-middle" scope="col">Order ID</th>
                            <th class="align-middle" scope="col">Billing Name</th>
                            <th class="align-middle" scope="col">Date</th>
                            <th class="align-middle" scope="col">Total</th>
                            <th class="align-middle" scope="col">Payment Status</th>
                            <th class="align-middle" scope="col">Payment Method</th>
                            
                            
                        </tr>
                    </thead>
                    <tbody >

                        
                        <% if(orders){ %>
                            <% for(i=0 ; i< orders.length ; i++){ %>
                            <tr>
                                <td class="text-center">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="transactionCheck02">
                                        <label class="form-check-label" for="transactionCheck02"></label>
                                    </div>
                                </td>
                                <td><a href="#" class="fw-bold"><%= orders[i].orderId %></a> </td>
                                <td><%= orders[i].address[0].name %></td>
                                <td>
                                    <%= orders[i].createdon %>
                                </td>
                                <td>
                                    <%= orders[i].totalprice %>
                                </td>
                                <td>
                                    <span class="badge badge-pill badge-soft-success"><%= orders[i].status %></span>
                                </td>
                                <td>
                                    <i class="material-icons md-payment font-xxl text-muted mr-5"></i> <%= orders[i].payment %>
                                </td>
                                
                               
                            </tr>
                            <% } %>
                           
                       
                    </tbody>
                </table>
            </div>
        </div> 
        <br><br>
      
        
        <div class="col-lg-6 col-md-6 ms-auto text-md-end">                                   
            <button id="downloadPDFButton" class="btn btn-primary btn-space">Download PDF</button>
            <button id="downloadExcelButton" class="btn btn-primary btn-space">Download Excel</button>
            <button type="button" id="printButton" class="btn btn-primary">Print</button>
        </div>
        <% } %>
        
        <br><br>
        
     
        
        
       
    </div>
    
</div>



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>

<script>
       document.getElementById('downloadPDFButton').addEventListener('click', function() {
        const element = document.querySelector('.card-body');
        html2pdf().from(element).save();
    });

    function printCardBody() {
        const element = document.querySelector('.card-body');
        let originalContents = document.body.innerHTML; 
        document.body.innerHTML = element.innerHTML; 
        window.print(); // Print
        document.body.innerHTML = originalContents; 
    }

    document.getElementById('printButton').addEventListener('click', function() {
        printCardBody();
    });

   

    document.getElementById('downloadExcelButton').addEventListener('click', async () => {
    const salesTable = document.getElementById("sales-table");
    const tableData = salesTable.querySelector("tbody");
    let salesData = [];

    for (let row of tableData.rows) {
        orderId = row.cells[1].textContent.trim();
        name = row.cells[2].textContent.trim();
        date = row.cells[3].textContent.trim();
        total = row.cells[4].textContent.trim();
        paymentStatus = row.cells[5].textContent.trim();
        paymentMethod = row.cells[6].textContent.trim();
        let data = {
            orderID: orderId,
            customerName: name,
            orderedDate: date,
            total: total,
            paymentStatus: paymentStatus,
            paymentMethod: paymentMethod
        };
        salesData.push(data);
    }

    try {
        const response = await fetch('/admin/salesreport/excel', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ salesData })
        });

        if (response.ok) {
            const blob = await response.blob();
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.href = url;
            a.download = 'report.xlsx';
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
        } else {
            console.error('Failed to download Excel file');
        }
    } catch (error) {
        console.error('Error fetching data:', error);
    }
});




  
  

    



</script>



<%- include("../partials/adminfooter") %>