<%- include("../partials/adminheader") %>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">

        <section class="content-main">
            <div class="content-header">
                <h2 class="content-title">Users List</h2>
                <div>
                    <a href="#" class="btn btn-primary"><i class="material-icons md-plus"></i> Create new</a>
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <select class="form-select">
                                <option>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <select class="form-select">
                                <option>Show 20</option>
                                <option>Show 30</option>
                                <option>Show 40</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Seller</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                    <th>Registered</th>
                                    <th class="text-end">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% users.forEach(function(user) { %>
                                    <tr>
                                        <td><h6><%= user.name %></h6></td>
                                        <td><%= user.email %></td>
                                        <td>
                                            <% if (user.isBlocked === false) { %>
                                               <h6 style="color: #088178;"> Active</h6>
                                            <% } else { %>
                                                <h6 style="color: brown;">Inactive</h6>
                                            <% } %>
                                        </td>
                                        <td><%= user.mobile %></td>
                                        
                                        
                                            <td class="text-end">
                                                <% if(user.isBlocked === false){ %>
                                                    <button class="btn block-btn" id="<%= user._id %>" style="background-color: #D2E3C8;" onclick="confirmBlock('<%= user._id %>')">Block</button>
                                                    <% }else{ %>
                                                <button class="btn unblock-btn" id="<%= user._id %>" style="background-color: #088178;" onclick="confirmUnblock('<%= user._id %>')">Unblock</button>
                                                <% } %>
                                            </td>
                                            
                                            
                                       
                                        
                                        
                                        
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <!-- card-body end// -->
            </div> <!-- card end// -->
            <!-- Pagination -->
<div class="pagination-area mt-30 mb-50">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-start">
            <% for (let i = 1; i <= totalPages; i++) { %>
                <li class="page-item <%= currentPage == i ? 'active' : '' %>">
                    <a class="page-link" href="/admin//userlist?page=<%= i %>"><%= i %></a>
                </li>
            <% } %>
        </ul>
    </nav>
</div>

        </section>
         <!-- content-main end// -->
         <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
         <script>
            function confirmBlock(userId) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: 'Do you want to block this user!',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Yes, block it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = `/admin/userlist/block/${userId}`;
                    }
                });
            }
        
            function confirmUnblock(userId) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: 'You are about to unblock this user!',
                    icon: "question",
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Yes, unblock it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = `/admin/userlist/unblock/${userId}`;
                    }
                });
            }
        </script>

         

         <%- include("../partials/adminfooter") %>


       



