<%- include("../partials/header") %>



<style>
    .product-img-action-wrap {
        position: relative;
        overflow: hidden;
    }

    .product-img-action-wrap .left img {
        width: 100%; 
        height: 250px; 
    }
</style>



                
                
                <!-- mobile menu start -->
                
                <!-- mobile menu end -->
            </div>
          
         
        </div>
    </div>
</div>
<main class="main">
   
    
    <section class="product-tabs pt-25 pb-20 wow fadeIn animated">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-9 mx-auto">
                    <div class="tab-header">
                        
                        <a href="#" class="view-more d-none d-md-flex">View More<i class="fi-rs-angle-double-small-right"></i></a>
                    </div>
                    <!--End nav-tabs-->
                    <div class="tab-content wow fadeIn animated" id="myTabContent">
                        <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                            <div class="row product-grid-4">
                                <% if (typeof category !== 'undefined' && category) { %>

                                <% for (let i = 0; i < products.length; i++) { %>
                                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                    <div class="product-cart-wrap mb-30">
                                        <div class="product-img-action-wrap">
                                            <a href="/productdetail/<%= products[i]._id %>"><div class="left">
                                                <% if (products[i].image && products[i].image.length > 0) { %>
                                                    <img src="/uploads/products/<%= products[i].image[0] %>" class="img-thumbnail custom-img-size" style="object-fit: contain;"  alt="<%= products[i].name %>">
                                                
                                            </div></a>
                                            <div class="product-action-1">
                                               
                                                <a aria-label="Add To Wishlist" class="action-btn hover-up" onclick="addToWishlist('<%= products[i]._id %>')"  ><i class="fi-rs-heart"></i></a>
                                                
                                            </div>
                                            <div class="product-badges product-badges-position product-badges-mrg">
                                                <span class="hot">Hot</span>
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <div class="product-category">
                                                <a href="shop-grid-right.html"><h2><%= products[i].brand %></h2></a>
                                            </div>
                                            <h6><a href="shop-product-right.html"><%= products[i].name  %></a></h6>
                                         
                                            <div class="rating-result" title="90%">
                                                <span>
                                                    <span>90%</span>
                                                </span>
                                            </div>
                                            <div class="product-price">
                                                <span><%= products[i].offerprice %> </span>
                                                <span class="old-price"><%= products[i].price %></span>
                                            </div>
                                            <div class="product-action-1 show">
                                                <a aria-label="Add To Cart" class="action-btn hover-up" href=""><i class="fi-rs-shopping-bag-add"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } else { %>
                                                
                                    <img src="default-image.jpg" class="img-thumbnail custom-img-size" alt="Default Item">
                                <% } %>
                                <% } %>
                            <!--End product-grid-4-->
                        </div>
                        <% } else { %>
                            <h1>sample</h1>


                            <% } %>
                        <!--En tab one (Featured)-->
                        
                        <!--En tab three (New added)-->
                    </div>
                    <!--End tab-content-->
                </div>
            </div>
        </div>
    </section>
 
    
    
    
 


    
</main>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
     function addToWishlist(productId){
       
       $.ajax({
           url:"/wishlist/add",
           method:"POST",
           data:{
               product:productId
           },
           success:function(response){
if(response.status == true){
   Swal.fire({

icon: "success",
title: "Product added to wishlist",
showConfirmButton: false,
timer: 1500
});
}
           }
       })
       

   }
</script>




<%- include("../partials/footer") %>