<%- include("../partials/header") %>



<style>
    .product-img-action-wrap {
        position: relative;
        overflow: hidden;
    }

    .product-img-action-wrap .left img {
        width: 100%; /* Set the width to 100% to fill the container */
        height: 250px; 
    }
</style>



                
                
                <!-- mobile menu start -->
                
                <!-- mobile menu end -->
            </div>
          
         
        </div>
    </div>
</div>
<main class="main">
    <section class="home-slider position-relative mb-30">
        <div class="container">
            <div class="home-slide-cover bg-grey-10 mt-30">
                <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">
                    <div class="single-hero-slider single-animation-wrap">
                        <div class="container">
                            <div class="row align-items-center slider-animated-1">
                                <div class="col-lg-5 col-md-6">
                                    <div class="hero-slider-content-2">
                                        <h4 class="animated">Trade-In Offer</h4>
                                        <h3 class="animated fw-900">Supper Value Deals</h3>
                                        <h2 class="animated fw-900 text-brand">On All Products</h2>
                                        <p class="animated">Save more with coupons & up to 70% off</p>
                                        <a class="animated btn btn-brush btn-brush-3" href="shop-product-right.html" tabindex="0"> Shop Now </a>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-6">
                                    <div class="single-slider-img single-slider-img-1">
                                        <img class="animated" src="assets/imgs/slider/bannerone.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-hero-slider single-animation-wrap">
                        <div class="container">
                            <div class="row align-items-center slider-animated-1">
                                <div class="col-lg-5 col-md-6">
                                    <div class="hero-slider-content-2">
                                        <h4 class="animated">Hot promotions</h4>
                                        <h3 class="animated fw-900">Fashion Trending</h3>
                                        <h2 class="animated fw-900 text-brand">Great Collection</h2>
                                        <p class="animated">Save more with coupons & up to 20% off</p>
                                        <a class="animated btn btn-brush btn-brush-1" href="shop-product-right.html" tabindex="0"> Get It Now </a>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-6">
                                    <div class="single-slider-img single-slider-img-1">
                                        <img class="animated" src="assets/imgs/slider/slider-7.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-arrow hero-slider-1-arrow"></div>
            </div>
        </div>
    </section>
    
    <section class="product-tabs pt-25 pb-20 wow fadeIn animated">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="widget-category mb-30">
                        <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                        <ul class="categories">
                            <% if (typeof category !== 'undefined' && category) { %>
                                <% for (let i = 0; i < category.length; i++) { %>
                                    <li><a href="/categorysort/?category=<%= category[i]._id %>"><%= category[i].name %></a></li>
                                  
                                    
                                <% } %>
                            <% } else { %>
                                <li><a href="#">Default Category 1</a></li>
                                <li><a href="#">Default Category 2</a></li>
                                <!-- Add more default categories if needed -->
                            <% } %>
                        </ul>
                    </div>

                    <div class="widget-category mb-30">
                        <h5 class="section-title style-1 mb-30 wow fadeIn animated">Sort by</h5>
                        <ul class="categories">
                           
                            <li><a href="/categorysort/lowtohigh">Price: Low to High</a></li>
                            <li><a href="/categorysort/hightolow">Price: High to Low</a></li>
                            <li><a href="/categorysort/A-Z">Aa - Zz</a></li>
                            <li><a href="/categorysort/Z-A">Zz - Aa</a></li>
                        </ul>
                    </div>
                   
                    
                    
                   
                    
                </div>
                <div class="col-lg-9">
                    <div class="tab-header">
                        
                        <a href="#" class="view-more d-none d-md-flex">View More<i class="fi-rs-angle-double-small-right"></i></a>
                    </div>
                    <!--End nav-tabs-->
                    <div class="tab-content wow fadeIn animated" id="myTabContent">
                        <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                            <div class="row product-grid-4">
                                <% if (typeof category !== 'undefined' && category) { %>

                                <% for (let i = 0; i < products.length; i++) { %>
                                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                    <div class="product-cart-wrap mb-30">
                                        <div class="product-img-action-wrap">
                                            <a href="/productdetail/<%= products[i]._id %>"><div class="left">
                                                <% if (products[i].image && products[i].image.length > 0) { %>
                                                    <img src="/uploads/products/<%= products[i].image[0] %>" class="img-thumbnail custom-img-size" style="object-fit: contain;"  alt="<%= products[i].name %>">
                                                
                                            </div></a>
                                            <div class="product-action-1">
                                                
                                                <a aria-label="Add To Wishlist" class="action-btn hover-up" onclick="addToWishlist('<%= products[i]._id %>')"  ><i class="fi-rs-heart"></i></a>
                                              
                                            </div>
                                            <div class="product-badges product-badges-position product-badges-mrg">
                                                <span class="hot">Hot</span>
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <div class="product-category">
                                                <a href=""><h2><%= products[i].brand %></h2></a>
                                            </div>
                                            <h6><a href=""><%= products[i].name  %></a></h6>
                                         
                                         
                                           
                                            <div class="product-price">
                                                <span>&#8377;</span>

                                                <span><%= products[i].offerprice %> </span>
                                                <span class="old-price"><%= products[i].price %></span>
                                                <span id="offer" ></span>
                                            </div>
                                            <div class="product-action-1 show">
                                                <a aria-label="Add To Cart" class="action-btn hover-up" href=""><i class="fi-rs-shopping-bag-add"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } else { %>
                                                
                                    <img src="default-image.jpg" class="img-thumbnail custom-img-size" alt="Default Item">
                                <% } %>
                                <% } %>
                            <!--End product-grid-4-->
                        </div>
                        <% } else { %>


                            <% } %>
                        <!--En tab one (Featured)-->
                        
                        <!--En tab three (New added)-->
                    </div>
                    <!--End tab-content-->
                </div>
            </div>
        </div>
    </section>
        
    <section class="section-padding">
        <div class="container pb-20">
            <h3 class="section-title mb-20 wow fadeIn animated"><span>Featured</span> Brands</h3>
            <div class="carausel-6-columns-cover position-relative wow fadeIn animated">
                <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-3-arrows"></div>
                <div class="carausel-6-columns text-center" id="carausel-6-columns-3">
                    <div class="brand-logo">
                        <img class="img-grey-hover" src="assets/imgs/banner/logo1.jpeg" alt="">
                    </div>
                    <div class="brand-logo">
                        <img class="img-grey-hover" src="assets/imgs/banner/logo2.jpg" alt="">
                    </div>
                    <div class="brand-logo">
                        <img class="img-grey-hover" src="assets/imgs/banner/logo3.png" alt="">
                    </div>
                    <div class="brand-logo">
                        <img class="img-grey-hover" src="assets/imgs/banner/logo4.png" alt="">
                    </div>
                    <div class="brand-logo">
                        <img class="img-grey-hover" src="assets/imgs/banner/logo5.png" alt="">
                    </div>
                    <div class="brand-logo">
                        <img class="img-grey-hover" src="assets/imgs/banner/logo6.png" alt="">
                    </div>
                    <div class="brand-logo">
                        <img class="img-grey-hover" src="assets/imgs/banner/logo7.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

 
    
    




    
</main>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
   
    let productPriceDivs = document.querySelectorAll('.product-price');

    
    productPriceDivs.forEach(productPriceDiv => {
     
        let offerPriceSpan = productPriceDiv.children[1];
        let originalPriceSpan = productPriceDiv.children[2];

     
        let offerPrice = parseInt(offerPriceSpan.textContent);
        let originalPrice = parseInt(originalPriceSpan.textContent);

     
        let offerPercentage = (1 - offerPrice / originalPrice) * 100;
        let validOffer = Math.floor(offerPercentage);

  
        let offerSpan = document.createElement('span');
        offerSpan.textContent = "("+validOffer + '%  off)';

    
        productPriceDiv.appendChild(offerSpan);
    });

    function addToWishlist(productId){
       
        $.ajax({
            url:"/wishlist/add",
            method:"POST",
            data:{
                product:productId
            },
            success:function(response){
 if(response.status == true){
    Swal.fire({

icon: "success",
title: "Product added to wishlist",
showConfirmButton: false,
timer: 1500
});
 }
            }
        })
        

    }
</script>





<%- include("../partials/footer") %>