<%- include("../partials/header") %>

<style>
    .availability {
        color: white;
    padding: 5px 10px; /* Adjust padding as needed */
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px; /* Increase font size as needed */
    text-align: center; /* Center the text horizontally */
}

.available {
    background-color: violet;
}

.out-of-stock {
    background-color: red;
}

</style>

        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-lg-9">
                        <div class="product-detail accordion-detail">
                            <div class="row mb-50">
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <div class="detail-gallery">
                                        <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                        <!-- MAIN SLIDES -->
                                        <div class="product-image-slider">
                                            <% if (products.image && products.image.length > 0) { %>
                                                <% products.image.forEach((image, index) => { %>
                                                    <figure class="border-radius-10">
                                                        <img src="/uploads/products/<%= image %>" alt="product image <%= index + 1 %>">
                                                    </figure>
                                                <% }); %>
                                            <% } else { %>
                                                <!-- Add a default image or handle the case when there are no images -->
                                                <figure class="border-radius-10">
                                                    <img src="/path/to/default-image.jpg" alt="default image">
                                                </figure>
                                            <% } %>
                                        </div>
                                        
                                        <!-- THUMBNAILS -->
                                   
                                    </div>
                                    <!-- End Gallery -->
                                    <div class="social-icons single-share">
                                        <ul class="text-grey-5 d-inline-block">
                                            <li><strong class="mr-10">Share this:</strong></li>
                                            <li class="social-facebook"><a href="#"><img src="/assets/imgs/theme/icons/icon-facebook.svg" alt=""></a></li>
                                            <li class="social-twitter"> <a href="#"><img src="/assets/imgs/theme/icons/icon-twitter.svg" alt=""></a></li>
                                            <li class="social-instagram"><a href="#"><img src="/assets/imgs/theme/icons/icon-instagram.svg" alt=""></a></li>
                                            <li class="social-linkedin"><a href="#"><img src="/assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a></li>
                                        </ul>
                                    </div>
                                </div>
                            
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-info">
                                        <h2 class="title-detail"><%= products.name %></h2>
                                        <div class="product-detail-rating">
                                            <div class="pro-details-brand">
                                                <span> Brands: <a href="shop-grid-right.html"><%= products.brand %></a></span>
                                            </div>
                                            <div class="product-rate-cover text-end">
                                                <div class="product-rate d-inline-block">
                                                    <div class="product-rating" style="width:90%">
                                                    </div>
                                                </div>
                                                <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                                            </div>
                                        </div>
                                        <div class="clearfix product-price-cover">
                                            <div class="product-price primary-color float-left">
                                                <ins><span class="text-brand"><%= products.offerprice %></span></ins>
                                                <ins><span class="old-price font-md ml-15"><%= products.price %></span></ins>
                                                
                                            </div>
                                        </div>
                                        <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                        <div class="short-desc mb-30">
                                            <p><%= products.specification %></p>
                                        </div>
                                        <div class="product_sort_info font-xs mb-30">
                                            <ul>
                                                <li class="mb-10"><i class="fi-rs-crown mr-5"></i> 1 Year World Wide Warranty</li>
                                                <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 30 Day Return Policy</li>
                                                <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery available</li>
                                            </ul>
                                        </div>
                                        <div class="availability <%= products.quantity > 0 ? 'available' : 'out-of-stock' %>">
                                            <% if (products.quantity > 0) { %>
                                                Product available
                                            <% } else { %>
                                                Out of stock
                                            <% } %>
                                        </div>
                                        
                                        
                                        

                                   
                                       
                                        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                        <div class="detail-extralink">
                                            <div class="detail-qty border radius" id="quantityControl">
                                                <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                                <span class="qty-val">1</span>
                                                <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                            </div>
                                            <div class="product-extra-link2">
                                                
                                                <button type="submit" class="button button-add-to-cart" onclick="addToCart('<%= products.id %>')">Add To Cart</button>

                                                <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                                <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                              
                                                <div id="error-div" class="alert alert-danger" style="display: none;"></div>
                                                      
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <!-- Detail Info -->
                                </div>

                            
                            </div>
                            
                          
                            
                        </div>
                    </div>
             
                </div>
            </div>
        </section>
    </main>
    <%- include("../partials/footer") %>

    
    <!-- Preloader Start -->
   <!-- ... Your HTML code ... -->
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

   <script>
    
   

function addToCart(productID) {
   

    const availableQuantity = parseInt("<%= products.quantity %>", 10);
    const quantityElement = document.getElementById('quantityControl');
    const quantityValue = parseInt(quantityElement.textContent.trim(), 10);
    const imageUrl = $(".product-image-slider img:first").attr("src");
    const errorMessage = document.getElementById("error-div")

    if (quantityValue > availableQuantity || availableQuantity === 0) {
        errorMessage.style.display = "block";
        errorMessage.style.color = "red";
        errorMessage.textContent = "Out Of Stock";
        return ;
        
    }
        errorMessage.style.display = "none";
       

    

    $.ajax({
        url: `/cart`,
        method: "POST",
        data: {
            id: productID,
            quantity: quantityValue,
            availability: availableQuantity
        },
        success: function (res) {


            if(res.status === true){
                Swal.fire({
                title: "Add This Product To Cart",
                text: "continue shopping",
                imageUrl: imageUrl,
                imageWidth: 250,
                imageHeight: 250,
                imageAlt: "Custom image",
                showCancelButton: true,
                cancelButtonColor: "#d33",
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = `/cart`;
                }
            })
            
        }else if(res.status === false){
            Swal.fire({
                                title: 'unavailable!!',
                                text: res.message,
                                icon: 'error', 
                                timer: 2000,
                            })
        }
           
        },
        error: function (error) {
            console.error("Error:", error);
        }
    });
}



  </script>

<!-- ... Your HTML code ... -->

   
    <!-- Vendor JS-->
    <script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/plugins/slick.js"></script>
    <script src="/assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/assets/js/plugins/wow.js"></script>
    <script src="/assets/js/plugins/jquery-ui.js"></script>
    <script src="/assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="/assets/js/plugins/magnific-popup.js"></script>
    <script src="/assets/js/plugins/select2.min.js"></script>
    <script src="/assets/js/plugins/waypoints.js"></script>
    <script src="/assets/js/plugins/counterup.js"></script>
    <script src="/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="/assets/js/plugins/images-loaded.js"></script>
    <script src="/assets/js/plugins/isotope.js"></script>
    <script src="/assets/js/plugins/scrollup.js"></script>
    <script src="/assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="/assets/js/plugins/jquery.theia.sticky.js"></script>
    <script src="/assets/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="/assets/js/maind134.js?v=3.4"></script>
    <script src="/assets/js/shopd134.js?v=3.4"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-product-left.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:46 GMT -->
</html>