<%- include("../partials/header") %>
  
    <main class="main">
       
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab" href="#track-orders" role="tab" aria-controls="track-orders" aria-selected="false"><i class="fi-rs-shopping-cart-check mr-10"></i>Track Your Order</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="true"><i class="fi-rs-marker mr-10"></i>My Address</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>Account details</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/logout"><i class="fi-rs-sign-out mr-10"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="tab-content dashboard-content">
                                <% if(user){ %>
                                    <div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="mb-0">User Profile </h4>
                                            </div>
                                            <div class="card-body">
                                                <h5>Username : <%= user.name %></h5>
                                                <br>
                                                <h5>Email : <%= user.email %></h5>
                                                <br>
                                                <h5>Mobile : <%= user.mobile %></h5>
                                                <br>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>


                                    <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Your Orders</h5>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Order ID</th>
                                                                <th>Date</th>
                                                                <th>Status</th>
                                                                <th>Total</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                      <% if(order){ %>
                                                        <% for(i=0;i<order.length;i++){ %>
                                                        <tbody>
                                                            <tr>
                                                                <td><%= order[i]._id %></td>
                                                                <td><%= order[i].createdon %></td>
                                                                <td><%= order[i].status %></td>
                                                                <td><%= order[i].totalprice %></td>
                                                                <td><a href="#" class="btn-small d-block">View</a></td>
                                                            </tr>
                                                           
                                                           
                                                          
                                                        </tbody>
                                                        <% } %>

                                                        <% }else{ %>
                                                            <h3>no order</h3>
                                                            <% } %>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>




                                    <div class="tab-pane fade" id="track-orders" role="tabpanel" aria-labelledby="track-orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Orders tracking</h5>
                                            </div>
                                            <div class="card-body contact-from-area">
                                                <p>To track your order please enter your OrderID in the box below and press "Track" button. This was given to you on your receipt and in the confirmation email you should have received.</p>
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <form class="contact-form-style mt-30 mb-50" action="#" method="post">
                                                            <div class="input-style mb-20">
                                                                <label>Order ID</label>
                                                                <input name="order-id" placeholder="Found in your order confirmation email" type="text" class="square">
                                                            </div>
                                                            <div class="input-style mb-20">
                                                                <label>Billing email</label>
                                                                <input name="billing-email" placeholder="Email you used during checkout" type="email" class="square">
                                                            </div>
                                                            
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    
                                    <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                                       
                                        <div class="row">
                                            <% if(address) { %>
                                                
                                              
                                            <div class="col-lg-6">
                                                
                                                <div class="card mb-3 mb-lg-0">
                                                    <div class="card-header">
                                                        <h5 class="mb-0"><%= address.address[0].addresstype %></h5>
                                                        
                                                    </div>
                                                    <div class="card-body">
                                                        <address><%= address.address[0].name %><br> <%= address.address[0].housename %><br> <%= address.address[0].landmark %> <br><%= address.address[0].city %> <br><%= address.address[0].state %> <br> <%= address.address[0].pincode %> <br> <%= address.address[0].phone %> <br> <%= address.address[0].altphone %> </address>
                                                        <br><br>
                                                        <a href="/editaddress?id=<%= address.address[0]._id %> " class="btn-small"><h5>Edit</h5></a>
                                                    </div>
                                                </div>
                                                <br>
                                                <h5>create new address</h5>
                                                <form action="/createaddress" method="get">
                                                    <button class="submit submit-auto-width" type="submit">Create New</button>
                                                   </form>
                                           
                                            </div>
                                           
                                          
                                            <% }else{ %>
                                                <div class="card-body">
                                                   <p>No Address Found <i class="fi-rs-marker mr-10"></i></p>
                                                   <form action="/createaddress" method="get">
                                                    <button class="submit submit-auto-width" type="submit">Create New</button>
                                                   </form>
                                                    <% } %>
                                        </div>
                                    </div>
                                   
                                            
                                        </div>


                                      



                                    <div class="tab-pane fade" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Account Details</h5>
                                            </div>
                                            <div class="card-body">
                                                <p>Already have an account? <a href="page-login-register.html">Log in instead!</a></p>
                                                <form method="post" name="enq">
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label>First Name <span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="name" type="text">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>Last Name <span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="phone">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Display Name <span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="dname" type="text">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Email Address <span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="email" type="email">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Current Password <span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="password" type="password">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>New Password <span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="npassword" type="password">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Confirm Password <span class="required">*</span></label>
                                                            <input required="" class="form-control square" name="cpassword" type="password">
                                                        </div>
                                                        <div class="col-md-12">
                                                            <button type="submit" class="btn btn-fill-out submit" name="submit" value="Submit">Save</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    <%- include("../partials/footer") %>