<%- include("../partials/header") %>



<style>
    
    html, body {
    max-width: 100%;
    overflow-x: hidden;
}

    .product-img-action-wrap {
        position: relative;
        overflow: hidden;
    }

    .product-img-action-wrap .left img {
        width: 100%; 
        height: 250px; 
    }
    #search{
        margin-left: 70%;
    }
    #category-sort{
        margin-top: 45px;
    height: 380px;
    border-radius: 20px;
    border: solid 1px;
    }

    #filter-sort{
        margin-top: 35px;
        height: 380px;
    border-radius: 20px;
    border: solid 1px;

    }
</style>



                
                
                <!-- mobile menu start -->
                
                <!-- mobile menu end -->
      


<main class="main">
   
    
    <section class="product-tabs pt-25 pb-20 wow fadeIn animated">
       
        <div class="container">
            <div class="row">
              
                <div id="search" class="col-lg-12" >
                    
                    <section class="search-bar col-lg-4">
                        <div class="container">
                            <form action="/searchproduct" method="POST" class="d-flex justify-content-end align-items-center">
                                <input type="text" name="query" placeholder="Search products..." class="form-control">
                                <button type="submit" class="btn btn-primary ml-2">Search</button>
                            </form>
                        </div>
                    </section>
                </div>

                <div class="col-lg-2">
                    <div class="widget-category mb-30" id="category-sort">
                        <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                        <ul class="categories">
                            <% if (typeof category !== 'undefined' && category) { %>
                                <% for (let i = 0; i < category.length; i++) { %>
                                    <li><a href="/categorysort/?category=<%= category[i]._id %>"><%= category[i].name %></a></li>
                                <% } %>
                            <% } else { %>
                                <li><a href="#">Default Category 1</a></li>
                                <li><a href="#">Default Category 2</a></li>
                                <!-- Add more default categories if needed -->
                            <% } %>
                        </ul>
                    </div>
                    <div class="widget-category mb-30" id="filter-sort">
                        <h5 class="section-title style-1 mb-30 wow fadeIn animated">Sort by</h5>
                        <ul class="categories">
                           
                            <li><a href="/categorysort/lowtohigh">Price: Low to High</a></li>
                            <li><a href="/categorysort/hightolow">Price: High to Low</a></li>
                            <li><a href="/categorysort/A-Z">Aa - Zz</a></li>
                            <li><a href="/categorysort/Z-A">Zz - Aa</a></li>
                        </ul>
                    </div>
                    
                    
                   
                    
                </div>
                <div class="col-lg-10">
                    <div class="tab-header">
                        <a href="#" class="view-more d-none d-md-flex">View More<i class="fi-rs-angle-double-small-right"></i></a>
                    </div>
                    <!--End nav-tabs-->
                    <div class="tab-content wow fadeIn animated" id="myTabContent">
                        <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                            <div class="row product-grid-4">
                                <% if (typeof category !== 'undefined' && category) { %>

                                <% for (let i = 0; i < products.length; i++) { %>
                                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                    <div class="product-cart-wrap mb-30">
                                        <div class="product-img-action-wrap">
                                            <a href="/productdetail/<%= products[i]._id %>"><div class="left">
                                                <% if (products[i].image && products[i].image.length > 0) { %>
                                                    <img src="/uploads/products/<%= products[i].image[0] %>" class="img-thumbnail custom-img-size" style="object-fit: contain;"  alt="<%= products[i].name %>">
                                                
                                            </div></a>
                                            <div class="product-action-1">
                                                
                                                <a aria-label="Add To Wishlist" class="action-btn hover-up" onclick="addToWishlist('<%= products[i]._id %>')"  ><i class="fi-rs-heart"></i></a>
                                                
                                            </div>
                                            <div class="product-badges product-badges-position product-badges-mrg">
                                                <span class="hot">Hot</span>
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <div class="product-category">
                                                <a href="shop-grid-right.html"><h2><%= products[i].brand %></h2></a>
                                            </div>
                                            <h6><a href="shop-product-right.html"><%= products[i].name  %></a></h6>
                                         
                                            <div class="rating-result" title="90%">
                                                <span>
                                                    <span>90%</span>
                                                </span>
                                            </div>
                                            <div class="product-price">
                                                <span><%= products[i].offerprice %> </span>
                                                <span class="old-price"><%= products[i].price %></span>
                                            </div>
                                            <div class="product-action-1 show">
                                              
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } else { %>
                                                
                                    <img src="default-image.jpg" class="img-thumbnail custom-img-size" alt="Default Item">
                                <% } %>
                                <% } %>
                            <!--End product-grid-4-->
                        </div>
                        <% } else { %>


                            <% } %>
                        <!--En tab one (Featured)-->
                        
                        <!--En tab three (New added)-->
                    </div>
                    <!--End tab-content-->
                </div>
            </div>
        </div>
    </section>
 
    
    

    <section class="section-padding">
        <div class="container pb-20">
            <h3 class="section-title mb-20 wow fadeIn animated"><span>Featured</span> Brands</h3>
            <div class="carausel-6-columns-cover position-relative wow fadeIn animated">
                <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-3-arrows"></div>
                <div class="carausel-6-columns text-center" id="carausel-6-columns-3">
                    <div class="brand-logo">
                        <img class="img-grey-hover" src="assets/imgs/banner/logo1.jpeg" alt="">
                    </div>
                    <div class="brand-logo">
                        <img class="img-grey-hover" src="assets/imgs/banner/logo2.jpg" alt="">
                    </div>
                    <div class="brand-logo">
                        <img class="img-grey-hover" src="assets/imgs/banner/logo3.png" alt="">
                    </div>
                    <div class="brand-logo">
                        <img class="img-grey-hover" src="assets/imgs/banner/logo4.png" alt="">
                    </div>
                    <div class="brand-logo">
                        <img class="img-grey-hover" src="assets/imgs/banner/logo5.png" alt="">
                    </div>
                    <div class="brand-logo">
                        <img class="img-grey-hover" src="assets/imgs/banner/logo6.png" alt="">
                    </div>
                    <div class="brand-logo">
                        <img class="img-grey-hover" src="assets/imgs/banner/logo7.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>


    
</main>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
     function addToWishlist(productId){
       
       $.ajax({
           url:"/wishlist/add",
           method:"POST",
           data:{
               product:productId
           },
           success:function(response){
if(response.status == true){
   Swal.fire({

icon: "success",
title: "Product added to wishlist",
showConfirmButton: false,
timer: 1500
});
}
           }
       })
       

   }


   var link = document.querySelector('.view-more');

      // Add click event listener
      link.addEventListener('click', function(event) {
        // Prevent the default behavior of the link
        event.preventDefault();

        // Calculate the destination to scroll to
        var destination = document.body.scrollHeight ;

        // Smoothly scroll to the destination
        window.scrollTo({
          top: destination,
          behavior: 'smooth'
        });
      });
</script>




<%- include("../partials/footer") %>